body,
html {
  height: 100%;
  margin: auto;
  background-image: url("https://i.ytimg.com/vi/EFhii04Piww/maxresdefault.jpg");
  background-position: center;
}

#title {
  margin: auto;
  text-align: center;
  width: 17%;
  padding: 10px;
  font-family: cursive;
  color: white;
  background-color: darkblue;
}

p {
  text-align: center;
}

.inline {
  margin: auto;
  font-size: 25px;
  padding: 5px;
  display: grid;
  align-items: center;
  justify-content: center;
}

#submit {
  width: 17%;
  margin: auto;
  justify-content: center;
}

button {
  color: white;
  background-color: darkblue;
}

#reloadButton {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}